Main - Agency Lead Router.json
{
  "name": "Main - Agency Lead Router",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an elite B2B conversion rate engineer. Analyze the provided agency website data. Your sole objective is to identify 'Leaky Lead Capture Flows'—areas where the agency is actively losing client revenue. Return ONLY valid JSON. Do not add greetings or extra formatting.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the following website text for lead capture vulnerabilities and return only JSON with the exact following keys: 'has_clear_cta' (boolean), 'missing_capture_points' (string), 'revenue_leak_severity' (string - Low, Medium, or High), and 'teardown_hook' (string - a single, punchy sentence identifying the specific flaw to be used in a cold email).\\n\\nWebsite Data: {{ $json.website_text_scrape }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        0
      ],
      "id": "c21786fc-848f-47ad-9459-a66547ae9b34",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "path": "31bde50e-0da8-42a0-8441-9929e61a6429",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "441ae6ee-6cb0-4784-b0ec-1bfcd98c2dae",
      "name": "Webhook",
      "webhookId": "31bde50e-0da8-42a0-8441-9929e61a6429"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an elite B2B conversion rate engineer. Analyze the provided agency website data. Your sole objective is to identify 'Leaky Lead Capture Flows'—areas where the agency is actively losing client revenue. Return ONLY valid JSON. Do not add greetings or extra formatting.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the following website text for lead capture vulnerabilities and return only JSON with the exact following keys: 'has_clear_cta' (boolean), 'missing_capture_points' (string), 'revenue_leak_severity' (string - Low, Medium, or High), and 'teardown_hook' (string - a single, punchy sentence identifying the specific flaw to be used in a cold email).\\n\\nWebsite Data: {{ $json.website_text_scrape }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "d0e53d5c-8986-4747-b7e6-e1b233f27e9d",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "MsHGoGonSJCDkMmN",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "aa727036-64cf-432a-ac79-2c2beedbcbbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "186510415f2af673df81dc50c0d50bfde6622933963b351b4780726209af1d3d"
  },
  "id": "3y5QhwaSvgwnWhw9",
  "tags": []
}